* {
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

.header {
  font-size: 69px;
  text-align: right;
}

.footer {
  text-align: center;
  background-color: red;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.message {
  font-size: 50px;
  background-color: red;
  width: 400px;
  font-weight: 1000;
}

.detail {
  text-align: center;
  font-style: italic;
}
