* {
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

.mission-statement {
  font-size: 30px;
  text-align: center;
}

.quote {
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 60px;
}

.title {
  text-align: right;
  font-size: 60px;
}

.footer {
  background-color: red;
  text-align: center;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image {
  text-align: center;
}
